<template>
    <div class="container">
        
        <div class="main">
            <a-skeleton active :loading="loading"/>
             <div class="author">
                 <a-avatar icon="user" :src="articleInfo.avatar"/>
                 <div class="author_detail">
                     <p class="nick">{{articleInfo.authorName}}</p>
                     <p class="time">{{articleInfo.pulishTime}}发表  {{articleInfo.readCount}}</p>
                 </div>
                 <a-button type="primary" ghost>关注</a-button>
             </div>
             <div class="article">
                 <div class="title">{{articleInfo.title}}</div>
                 <div class="desc">{{articleInfo.description}}</div>
                 <div class="content">{{articleInfo.content}}</div>
             </div>
             <div class="comment">
                <div class="comment-title">评论</div>
                <div class="reply-area">
                    <div class="area">
                        <a-avatar
                        slot="avatar"
                        src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
                        alt="Han Solo"
                        />
                        <a-textarea placeholder="Autosize height based on content lines" autosize class="area-input" />
                    </div>
                    <div class="area-handel"></div>
                </div>
                <a-comment>
                    <span slot="actions">Reply to</span>
                    <a slot="author">Han Solo</a>
                    <a-avatar
                    slot="avatar"
                    src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
                    alt="Han Solo"
                    />
                    <p slot="content">We supply a series of design principles, practical patterns and high quality design resources (Sketch and Axure).</p>
                    <a-comment>
                    <span slot="actions">Reply to</span>
                    <a slot="author">Han Solo</a>
                    <a-avatar
                        slot="avatar"
                        src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
                        alt="Han Solo"
                    />
                    <p slot="content">We supply a series of design principles, practical patterns and high quality design resources (Sketch and Axure).</p>
                    <a-comment>
                        <span slot="actions">Reply to</span>
                        <a slot="author">Han Solo</a>
                        <a-avatar
                        slot="avatar"
                        src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
                        alt="Han Solo"
                        />
                        <p slot="content">We supply a series of design principles, practical patterns and high quality design resources (Sketch and Axure).</p>
                    </a-comment>
                    <a-comment>
                        <span slot="actions">Reply to</span>
                        <a slot="author">Han Solo</a>
                        <a-avatar
                        slot="avatar"
                        src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
                        alt="Han Solo"
                        />
                        <p slot="content">We supply a series of design principles, practical patterns and high quality design resources (Sketch and Axure).</p>
                    </a-comment>
                    </a-comment>
                </a-comment>
             </div>
        </div>
    </div>
</template>


<script>
import {getArtilceById} from '@/api'
export default {
    name:'Detail',
    props:{
       id:Number
    },
    components:{
    },
    data(){
        return{
            articleInfo:{},
            loading:true
        }
    },
    mounted(){
        this.getArtilce();
    },
    methods:{
        getArtilce(){
            getArtilceById(this.id).then(res=>{
                this.articleInfo=res.data;
                this.loading=false;
            })
        }
    }
}
</script>


<style lang="less" scoped>
.main{
    padding: 20px;
    .author{
        height: 50px;
        display: flex;
        align-items: center;
        .author_detail{
            flex: 1;
            margin-left: 10px;
            .nick{
                font-size: 20px;
                line-height: 1.5;
                font-weight: bolder;
            }
            .time{
                font-size:12px;
                line-height: 1.5;
                color: #ccc;
            }
        }
    }
    .article{
        margin-top: 20px;
        .title{
            font-size: 20px;
            font-weight: bolder;
            margin-bottom: 20px;
            line-height: 1.2;
        }
        .desc{
           font-size:12px;
           color: #ccc; 
           margin-bottom: 20px;
           line-height: 1.2;
        }
        .content{
            font-size: 16px;
            line-height: 1.5;
        }
    }
    .comment{
        margin-top:50px;
        .comment-title{
            font-size: 14px;
            text-align: left;
            border-bottom: 1px solid #ccc;
            padding-bottom: 10px;
        }
        .reply-area{
            margin-top: 20px;
            .area{
                display: flex;
                .area-input{
                    margin-left: 10px;
                }
            }
        }
    }
}
</style>
