<template>
    <div>
        <b-article></b-article>
    </div>
</template>

<script>
import BArticle from '@c/Article.vue'

export default {
    name:'Home',
    components:{
      BArticle  
    }
}
</script>

