<template>
    <div class="login-panel">
        <a-form
            :form="form"
            class="login-form"
            @submit="handleSubmit">
            <a-form-item>
            <a-input
                v-decorator="[
                'userName',
                { rules: [{ required: true, message: 'Please input your username!' }] }
                ]"
                placeholder="Username"
            >
                <a-icon
                slot="prefix"
                type="user"
                style="color: rgba(0,0,0,.25)"
                />
            </a-input>
            </a-form-item>
            <a-form-item>
            <a-input
                v-decorator="[
                'password',
                { rules: [{ required: true, message: 'Please input your Password!' }] }
                ]"
                type="password"
                placeholder="Password"
            >
                <a-icon
                slot="prefix"
                type="lock"
                style="color: rgba(0,0,0,.25)"
                />
            </a-input>
            </a-form-item>
            <a-form-item>
              <a-button type="primary" :loading="loading" html-type="submit" class="login-form-button">Log in</a-button>
            </a-form-item>
        </a-form> 
    </div>
</template>

<script>
import {login} from '@/api'
import { mapActions } from 'vuex'
export default {
  data(){
     return{
         loading:false
     }
  },
  beforeCreate () {
    this.form = this.$form.createForm(this);
  },
  methods: {
    ...mapActions([
      'handleLogin'
    ]),
    handleSubmit (e) {
      e.preventDefault();
      this.form.validateFields((err, values) => {
        if (!err) {
          this.loading=true;
          this.handleLogin(values).then(res=>{
              this.loading=false;
              if(res.data.code==1){
                 //登录成功
                 this.$router.push({
                    path:'/'
                 })
              }else{
                 this.$message.error('密码错误');
              }
          });
        }
      });
    },
  },
};
</script>

<style lang="less" scoped>
.login-panel{
    width: 300px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid #ccc;
    padding: 20px;
    transform: translate(-50%,-50%);
    box-sizing: content-box;
}
.login-form-button{
    width: 100%;
}
</style>
