<template>
  <div id="app">
     <b-header></b-header>
     <keep-alive>
        <router-view v-if="$route.meta.keepAlive"></router-view>
     </keep-alive>
     <router-view v-if="!$route.meta.keepAlive"></router-view>
      <a-back-top />
  </div>
</template>

<script>

import BHeader from '@c/Header.vue'
export default {
  name: 'app',
  components:{
    BHeader
  }
}
</script>

<style>
</style>
