<template>
    <div class="main container">
        <ul class="type-option">
            <li class="active">热门</li>
            <li>最新</li>
            <li>热榜</li>
        </ul>
        <a-skeleton active :loading="loading">
        <div class="wrapper">
            <a-list
                itemLayout="vertical"
                size="large"
                :pagination="pagination"
                :dataSource="listData"
            >
                <div slot="footer"><b>ant design vue</b> footer part</div>
                <a-list-item slot="renderItem" slot-scope="item, index" key="item.title">
                <template slot="actions" v-for="{type, text} in actions">
                    <span :key="type">
                    <a-icon :type="type" style="margin-right: 8px" />
                    {{text}}
                    </span>
                </template>
                <a-list-item-meta
                    :description="item.description"
                >
                    <router-link :to="{ name: 'Detail', params: { id: item.id }}" slot="title">{{item.title}}</router-link>
                    <!-- <a slot="title" :href="'/detail/'+item.id">{{item.title}}</a> -->
                    <a-avatar slot="avatar" :src="item.avatar" />
                </a-list-item-meta>
                {{item.content}}
                </a-list-item>
            </a-list>
        </div>
        </a-skeleton>
    </div>
</template>


<script>
import {getArtilceList} from '@/api'
export default {
    name:"BArticle",
    data () {
    return {
        listData:[],
        pagination: {
            onChange: (page) => {
            },
            pageSize: 10,
        },
        loading:true,
        actions: [
            { type: 'star-o', text: '156' },
            { type: 'like-o', text: '156' },
            { type: 'message', text: '2' },
        ],
        }
    },
    mounted(){
        getArtilceList({pageIndex:1,pageSize:10}).then(res=>{
            this.listData=res.data;
            this.loading=false;
        })
    }
}
</script>

<style lang="less" scoped>
.main{
    padding: 20px;
    .type-option{
        display: flex;
        font-size: 12px;
        color: #71777c;
        li{
            padding-right:10px;
        }
        li::after{
            content: "|";
            margin-left:10px;
        }
        li:last-child::after{
            content: "";
        }
        li.active{
            color: #007fff;
        }
    }
}
</style>
