<template>
    <div class="header">
        <div class="container">
            <ul class="nav">
                <li class="active">
                    <router-link to="/">首页</router-link>
                </li>
                <li>
                    <a>话题</a>
                </li>
            </ul>
            <div class="right">
                <div class="search">
                     <a-input-search
                        placeholder="input search text"
                        style="width: 100%"
                        @search="onSearch"
                        />
                </div>
                <div class="login-panel">
                      <div v-if="token&&userInfo">
                           <ul class="userinfo">
                               <li><a-button type="primary">写文章</a-button></li>
                               <li><a-icon type="notification" style="color:#71777c;" /></li>
                               <li class="avatar"><a-avatar icon="user" :src="userInfo.avatar" @click.stop="showDetail" />
                                   <div class="userdetail" v-show="isShowUser" >
                                       <ul>
                                           <li><a>个人中心</a></li>
                                           <li><a>发布文章</a></li>
                                           <li><a>编辑资料</a></li>
                                           <li><a>我的主页</a></li>
                                           <li><a @click="handelLoginOut">退出</a></li>
                                       </ul>
                                   </div>
                               </li>
                           </ul>
                      </div>
                      <div v-else>
                          <a-button type="primary" style="margin-right:15px;">写文章</a-button>
                          <span class="login">
                              <router-link to="/login">登录</router-link>
                          </span>
                          <span><a href="">注册</a></span>
                      </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
import {mapState,mapActions} from 'vuex'
export default {
    name:'BHeader',
    data(){
        return{
            isShowUser:false
        }
    },
    computed:{
        ...mapState({
            token:state=>state.user.token,
            userInfo:state=>state.user.userInfo
        })
    },
    created(){
        //console.log(this.token);
        document.addEventListener('click',(e)=>{
        　　this.isShowUser=false;
        })
        let self=this;
        if(this.token&&!this.userInfo){
            //获取userInfo
            this.getUserInfoByToken(this.token).then(res=>{
                //self.userInfo=res.data;
            })
        }
    },
    methods:{
        onSearch(){
        },
        showDetail(){
            this.isShowUser=true;
        },
        ...mapActions([
            'getUserInfoByToken','loginOut'
        ]),
        handelLoginOut(){
            debugger;
            this.loginOut().then(res=>{
                debugger;
                this.$router.push({ name: 'Login' });
            })
        }
    }
}
</script>


<style lang="less" scoped>
.header{
    height: 50px;
    line-height: 50px;
    border-bottom:1px solid #ccc;
    box-shadow: 0px 0px 2px #888888;
    font-size: 16px;
    color: #71777c;
    background: #fff;
    .nav{
        float: left;
        li{
            padding: 0 20px;
            display: inline-block;
        }
        li.active{
           color:#007fff;
        }
    }
    .right{
        float: right;
        display: flex;
        .search{
            width: 150px;
        }
        .login-panel{
            flex: 1;
            margin-left: 20px;
            color:#007fff;
            .login::after{
                content: "·";
                padding: 0 5px;
                font-weight: bold;
            }
            .userinfo {
                display: flex;
                li{
                    padding:0 15px;
                }
                .avatar{
                    position: relative;
                    .userdetail{
                       position:absolute;
                       top: 50px;
                       left: 0;
                       background: #fff;
                       border: 1px solid #ccc;
                       width: 100px;
                       z-index: 999;
                    }
                }
            }
        }
    }
}
</style>
